// Color Variables
$primary-color: #0e9948;
$secondary-color: #193732;
$text-color: #527767;
$text-color-light: #3ea47a;
$text-color-dark: #1e4b29;
$text-lighten: #c3c3cc;
$text-muted: #a5a5a6;
$body-color: #fff;
$border-color: #ededf1;
$black: #000;
$white: #fff;
$light: #f8f9fe;
$gray: #f8f8f8;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'futura-bold';
$icon-font: 'themify';
