// Color Variables
$primary-color: #2b9136;
$secondary-color: #0a360f;
$text-color: #18501d;
$text-color-light: #3ea458;
$text-color-dark: #123e16;
$text-lighten: #c3c3cc;
$text-muted: #a5a5a6;
$body-color: #fff;
$border-color: #ededf1;
$black: #000;
$white: #fff;
$light: #f8f9fe;
$gray: #f8f8f8;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'futura-bold';
$icon-font: 'themify';
